body {
	background-color: black;
	color: gold;
}
p {
	text-align: center;
	color: white;
}
.osoba {
	width: 48%;
	text-align: center;
}
.postepy {
	display: flex;
	margin-top: 30px;
}
.postep {
	margin: 30px;
	font-size: 40px;
	border: 3px solid white;
	padding: 20px;
}
.zal {
	background-color: green;
}
.prawieZal {
	background-color: lime;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: green;
}
.kontener {
  padding: 20px;
  font-family: Arial, sans-serif;
}

table.zagadnienie {
  max-width: 90vw;   
  border-collapse: collapse;
  margin: 30px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.zagadnienie th, .zagadnienie td {
  border: 1px solid green;
  padding: 8px;
  text-align: left;
}
.zagadnienie th {
  background-color: brown;
}
@media (max-width: 600px) {
  .kontener {
    flex-direction: column;
    padding: 10px;
  }
  
  .osoba {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .postepy {
    flex-direction: column;
    gap: 8px;
  }
  
  .postep {
    flex: none;
    padding: 10px 0;
  }
  .zagadnienie td, .zagadnienie th {
    display: block;
    width: 100%;
  }
  .zagadnienie img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
}