body
{
	background-color: silver;
	font-family: Times New Roman;
	font-size: 14px;
	color: brown;
	text-align: center;
	padding: 10px;
}
#wszystko
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 2px solid white;
}
#siteTitle
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 3px;
	color: black;
	height: 70px;
	padding-top: 20px;
}
#osTytul
{
	width: 100%;
}
.alignCenter {
	text-align: center;
}
.przedmiot
{
	width: 15%;
	display: inline-block;
	height: 50px;
	color: blue;
	padding-top: 20px;
	font-size: 22px;
	border: 1px dotted white;
}
.postepy
{
	text-align: center;
	vertical-align: middle;
	font-size: 26px;
}
.postepy a, .postepy a:visited {
color: red;
}
#osUla
{
	width: 100%;
}
#osBasia
{
	width: 100%;
}
#osAnia
{
	width: 100%;
}
.ramkaPierwsza
{
	width: 6.55%;
	padding-top: 10px;
	color: green;
	height: 50px;
	float: left;
	border: 1px dotted white;
	font-size: 33px;
	font-weight: 700;
}
.ramka
{
	width: 6.55%;
	height: 50px;
	float: left;
	padding-top: 10px;
	font-size: 18px;
	border: 1px dotted white;
}
.ramka:hover
{
	cursor: pointer;
}
a
{
	text-decoration: none;
	color: green;
}
a:hover
{
	color: green;
}
a:visited
{
	color: green;
}
.podstrona
{
	text-align: left;
	font-size: 20px;
}
#content
{
	margin-top: 5px;
	width: 100%;
	border: 2px solid white;
	text-align: left;
	
}
#uwagi
{
	width: 100%;
	border: 1px dotted white;
	font-size: 12px;
}
.stanNauki
{
	float: left;
	width: 33.2%;
	border: 1px dotted white;
	text-align: center;
	font-size: 18px;
	color: black;
}
.zagadnienia
{
	float: left;
	width: 33.2%;
	border: 1px dotted white;
}
.zagadnienie
{
	display: inline-block;
	font-size: 18px;
	border-right: 1px dotted white;
	margin: 2px;
	padding-right: 3px;
}

.pdf-container {
    width: 33.33%;
    float: left;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
}

.pdf-container:hover {
    overflow-y: scroll;
}
.opis
{
	margin-top: 20px;
	color: green;
	font-weight: 700;
	font-size: 33px;
	width: 33.33%;
    float: left;
}
.pilne
{
	font-size: 40px;
	letter-spacing: 2px;
}
.planLekcji, #wszystko {
  max-width: 1000px;
  margin: 0 auto;
}
.planLekcji
{
	padding: 10px;
}
.tytulPlanu
{
	position: relative;
	min-height: 80px;
}
.tytulTytuluPlanu
{
	position: absolute;
	left: 5%;
	top: 10%;
	font-size: 33px;
	letter-spacing: 3px;
	font-weight: 700;
}
.ktoryTydzien
{
	position: absolute;
	right: 5%;
	top: 20%;
	font-size: 33px;
	letter-spacing: 3px;
	color: beige;
	font-style: italic;
}
table {
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid black;
      padding: 2px;
      text-align: left;
      vertical-align: top;
    }
    .zadanie {
      padding: 4px;
    }
    .dzien {
      font-weight: bold;
    }
	.foto {
  text-align: center;
  vertical-align: middle;
}
.foto img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10%;
  border: 2px solid #ccc;
}
.biezacy td {
    background-color: beige;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
  }
.juzByl {
	opacity: 0.5;
	background-color: dimgray;
}
@media (max-width: 768px) {
	body {
    padding: 5px;
  }
  .planLekcji {
    padding: 5px;
    border-width: 2px;
  }

  .tytulTytuluPlanu,
  .ktoryTydzien {
    position: static;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .planSzczegolowy table {
    font-size: 14px;
  }

  .foto img {
    width: 100px;
    height: 100px;
  }

  td, th {
    padding: 4px;
    font-size: 13px;
  }

  .zadanie {
    padding: 4px;
  }

  #osTytul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
  }

  .przedmiot {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
}